@page
@model SuccessModel
@{
    ViewData["Title"] = "Успіх";
}

<div class="mt-4">
    <div class="alert alert-success border rounded">
        <h3 class="text-success mb-2">Дякуємо!</h3>
        <p class="mb-3">Ваше замовлення успішно оформлено. Наш менеджер зв'яжеться з вами найближчим часом.</p>
        <a asp-page="/Index" class="btn btn-primary rounded">Повернутися на головну</a>
    </div>
</div>